.bodynormal {
    background: green;
    background-color: green;
    margin: 0px;
}

.bodyerror {
    background: #ccc;
    background-color: #ccc;
    margin: 0px;
}

.down {
  background-color: darkred;
}

.err {
  color: red;
}

.critical {
  background-color: red;
}

.warn {
  background-color: orange;
}

.msg {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: bolder;
  font-family: monospace;
}
